@font-face {
    font-family: Boldfont;
    src: url('./assets/Alliance\ No.1\ Bold.otf') format('opentype');
}

@font-face {
    font-family: LightFont;
    src: url('./assets/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf') format('opentype');
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lightfont, Arial, sans-serif; 
    padding: 10% 0 0 0 ;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10% 0 10%;
}

.heading{
    display: flex;
    flex-direction: column;
    max-width:  80%;
}

.heading h1{
    font-family: Boldfont, Arial, sans-serif ;
}

.unbold{
    font-weight: 300;
    font-family: Lightfont, Arial, sans-serif !important; 
}

.heading p{
    font-size: 30px;
    color: #636C76;
    max-width: 80%;
    font-family: Lightfont, Arial, sans-serif !important; 
}

.heading h1{
    font-size: 60px;
    color: #393939;
}

.image{
    padding-bottom: 5%;
}

.orange{
    width: 100%;
    height: 30px;
    background-color: #E34C25;
    margin: 0px ;
    position: fixed;
    bottom: 0;
}

.icons{
    display: flex;
    margin: 0 30px 0 30px;
}

.icons svg{
    color: #636C76;
}

.icon{
    padding-top: 35px;
    margin-right: 15%;
    color: #636C76;
}

.greyed{
    color:#636C76;
}

.foot{
    width: 80%;
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.gp{
    font-size: 25px;
    margin-top: 10px;
}

.mb0{
    margin-bottom: 0;
}
.icoons {
    display: grid;
    grid-template-columns: repeat(4, auto); 
    gap: 20px; 
}


.github{
    font-size: 60px;
    color: #7c92aa;
}

/* Not required to make it responsive */


/* @media only screen and (max-width:768px){
    .main{
        display: flex;
        flex-direction:column;
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .heading{
        max-width: 100%;
    }

    .heading p{
        max-width: 100%;
    }

    .orange{
        min-width: 100%;
    }

    body{
        width: 100%;
    }
 */


